In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import opendatasets as od
import os

In [5]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
train_labels = pd.read_csv('data/train_labels.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [6]:
train.drop(columns=['fullscreen', 'hq', 'music'], inplace=True)
train

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13174206,22100221145014656,1600,5483231,navigate_click,undefined,22,NaN,343.887291,36.701026,483.0,273.0,NaN,NaN,NaN,tunic.capitol_2.hall,NaN,13-22
13174207,22100221145014656,1601,5485166,navigate_click,undefined,22,NaN,332.696070,141.493178,545.0,221.0,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22
13174208,22100221145014656,1602,5485917,navigate_click,undefined,22,NaN,369.912859,140.569205,611.0,217.0,NaN,NaN,NaN,tunic.capitol_2.hall,NaN,13-22
13174209,22100221145014656,1603,5486753,navigate_click,undefined,22,NaN,252.299653,123.805889,526.0,232.0,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22
13174210,22100221145014656,1604,5487952,checkpoint,basic,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22

In [7]:
train.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4

# Process session_id #1

In [57]:
sess1 = train[train['session_id']==20090312431273200]
sess1

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,20090312431273200,927,1267357,navigate_click,undefined,22,NaN,927.307255,-10.355929,838.0,335.0,NaN,NaN,tomap,tunic.historicalsociety.entry,NaN,13-22
877,20090312431273200,928,1268292,map_hover,basic,22,NaN,NaN,NaN,NaN,NaN,366.0,NaN,tomap,tunic.historicalsociety.entry,NaN,13-22
878,20090312431273200,929,1269474,map_click,undefined,22,NaN,457.523005,22.141338,443.0,316.0,NaN,NaN,tunic.capitol_2,tunic.historicalsociety.entry,NaN,13-22
879,20090312431273200,930,1270708,navigate_click,undefined,22,NaN,224.190321,-60.268671,404.0,337.0,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22
880,20090312431273200,931,1272679,checkpoint,basic,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22

In [9]:
train_labels

                   session_id  correct
0        20090312431273200_q1        1
1        20090312433251036_q1        0
2        20090314121766812_q1        1
3        20090314363702160_q1        1
4        20090314441803444_q1        1
...                       ...      ...
212017  22100215342220508_q18        1
212018  22100215460321130_q18        1
212019  22100217104993650_q18        1
212020  22100219442786200_q18        1
212021  22100221145014656_q18        1

[212022 rows x 2 columns]

In [10]:
# train_labels are ordered by question 1 to 18, not by session_id and question number
train_labels.sort_values('session_id')

                   session_id  correct
0        20090312431273200_q1        1
106011  20090312431273200_q10        1
117790  20090312431273200_q11        1
129569  20090312431273200_q12        1
141348  20090312431273200_q13        0
...                       ...      ...
58894    22100221145014656_q5        0
70673    22100221145014656_q6        0
82452    22100221145014656_q7        0
94231    22100221145014656_q8        0
106010   22100221145014656_q9        1

[212022 rows x 2 columns]

Split train_labels id and questions

In [55]:
train_labels_split = train_labels.copy()
train_labels_split[['id', 'question']] = train_labels_split['session_id'].str.split('_q', expand=True)
train_labels_split = train_labels_split[['session_id', 'id', 'question', 'correct']]
train_labels_split['question'] = train_labels_split['question'].astype('int')
train_labels_split.sort_values(['id', 'question'],inplace=True)
train_labels_split.reset_index(drop=True, inplace=True)
train_labels_split

                   session_id                 id  question  correct
0        20090312431273200_q1  20090312431273200         1        1
1        20090312431273200_q2  20090312431273200         2        1
2        20090312431273200_q3  20090312431273200         3        1
3        20090312431273200_q4  20090312431273200         4        1
4        20090312431273200_q5  20090312431273200         5        1
...                       ...                ...       ...      ...
212017  22100221145014656_q14  22100221145014656        14        0
212018  22100221145014656_q15  22100221145014656        15        0
212019  22100221145014656_q16  22100221145014656        16        0
212020  22100221145014656_q17  22100221145014656        17        1
212021  22100221145014656_q18  22100221145014656        18        1

[212022 rows x 4 columns]

In [56]:
train_labels_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212022 entries, 0 to 212021
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   session_id  212022 non-null  object
 1   id          212022 non-null  object
 2   question    212022 non-null  int32
 3   correct     212022 non-null  int64
dtypes: int32(1), int64(1), object(2)
memory usage: 5.7+ MB

In [27]:
train_labels.loc[train_labels['session_id'] == '20090312431273200_q1', 'correct']

0    1
Name: correct, dtype: int64

In [29]:
sess1_list = []
for i in range(1, 18):
    print(train_labels.loc[train_labels['session_id']
          == '20090312431273200_q{}'.format(i), 'correct'])
    sess1_list.append(
        train_labels.loc[train_labels['session_id'] == '20090312431273200_q{}'.format(i), 'correct'])
# print(train_labels[train_labels['session_id']=='20090312431273200_q1'])

0    1
Name: correct, dtype: int64
11779    1
Name: correct, dtype: int64
23558    1
Name: correct, dtype: int64
35337    1
Name: correct, dtype: int64
47116    1
Name: correct, dtype: int64
58895    1
Name: correct, dtype: int64
70674    1
Name: correct, dtype: int64
82453    1
Name: correct, dtype: int64
94232    1
Name: correct, dtype: int64
106011    1
Name: correct, dtype: int64
117790    1
Name: correct, dtype: int64
129569    1
Name: correct, dtype: int64
141348    0
Name: correct, dtype: int64
153127    1
Name: correct, dtype: int64
164906    1
Name: correct, dtype: int64
176685    0
Name: correct, dtype: int64
188464    1
Name: correct, dtype: int64

### train_labels_split - processed labels
- sess1 - session #1

In [59]:
sess1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881 entries, 0 to 880
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   session_id      881 non-null    int64
 1   index           881 non-null    int64
 2   elapsed_time    881 non-null    int64
 3   event_name      881 non-null    object
 4   name            881 non-null    object
 5   level           881 non-null    int64
 6   page            0 non-null      float64
 7   room_coor_x     813 non-null    float64
 8   room_coor_y     813 non-null    float64
 9   screen_coor_x   813 non-null    float64
 10  screen_coor_y   813 non-null    float64
 11  hover_duration  65 non-null     float64
 12  text            384 non-null    object
 13  fqid            652 non-null    object
 14  room_fqid       881 non-null    object
 15  text_fqid       384 non-null    object
 16  level_group     881 non-null    object
dtypes: float64(6), int64(4), object(7)
memory usage: 123.9+ KB

In [60]:
sess1.fqid.value_counts()

worker                64
archivist             46
gramps                44
crane_ranger          32
wells                 32
                      ..
tunic.humanecology     1
tunic.wildlife         1
tocollectionflag       1
reader.paper1.next     1
intro                  1
Name: fqid, Length: 95, dtype: int64

In [61]:
sess1.text.value_counts()

undefined                                                          13
\u00f0\u0178\u02dc\u00b4                                            3
I need to get her free. She won't hold still!                       2
Maybe she'll let me take off the cup!                               2
Got one!                                                            2
                                                                   ..
Maybe I can help!                                                   1
Now I Just need to find all the cleaners from way back in 1916.     1
Thanks.                                                             1
Looks like a dry cleaning receipt.                                  1
I should go to the Capitol and tell Mrs. M!                         1
Name: text, Length: 344, dtype: int64

In [62]:
sess1.text_fqid.value_counts()

tunic.wildlife.center.crane_ranger.crane                       30
tunic.historicalsociety.cage.confrontation                     21
tunic.historicalsociety.frontdesk.archivist.newspaper          18
tunic.historicalsociety.entry.groupconvo                       16
tunic.wildlife.center.wells.nodeer                             16
                                                               ..
tunic.historicalsociety.frontdesk.key                           1
tunic.historicalsociety.frontdesk.magnify                       1
tunic.humanecology.frontdesk.businesscards.card_bingo.bingo     1
tunic.historicalsociety.cage.glasses.beforeteddy                1
tunic.historicalsociety.closet.intro                            1
Name: text_fqid, Length: 76, dtype: int64

In [64]:
sess1.room_fqid.value_counts()

tunic.historicalsociety.entry              123
tunic.wildlife.center                      104
tunic.historicalsociety.cage                83
tunic.historicalsociety.frontdesk           73
tunic.library.frontdesk                     58
tunic.historicalsociety.basement            53
tunic.historicalsociety.closet_dirty        50
tunic.historicalsociety.closet              47
tunic.humanecology.frontdesk                44
tunic.historicalsociety.stacks              42
tunic.drycleaner.frontdesk                  33
tunic.kohlcenter.halloffame                 33
tunic.flaghouse.entry                       32
tunic.historicalsociety.collection          30
tunic.library.microfiche                    28
tunic.capitol_1.hall                        23
tunic.historicalsociety.collection_flag     12
tunic.capitol_0.hall                        11
tunic.capitol_2.hall                         2
Name: room_fqid, dtype: int64

In [63]:
sess1_drop = sess1.drop(columns=['page', 'hover_duration'])
sess1_drop.columns

Index(['session_id', 'index', 'elapsed_time', 'event_name', 'name', 'level',
       'room_coor_x', 'room_coor_y', 'screen_coor_x', 'screen_coor_y', 'text',
       'fqid', 'room_fqid', 'text_fqid', 'level_group'],
      dtype='object')

In [66]:
sess1_drop

,session_id,index,elapsed_time,event_name,name,level,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,text,fqid,room_fqid,text_fqid,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,-413.991405,-159.314686,380.0,494.0,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0-4
1,20090312431273200,1,1323,person_click,basic,0,-413.991405,-159.314686,380.0,494.0,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
2,20090312431273200,2,831,person_click,basic,0,-413.991405,-159.314686,380.0,494.0,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
3,20090312431273200,3,1147,person_click,basic,0,-413.991405,-159.314686,380.0,494.0,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
4,20090312431273200,4,1863,person_click,basic,0,-412.991405,-159.314686,381.0,494.0,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,20090312431273200,927,1267357,navigate_click,undefined,22,927.307255,-10.355929,838.0,335.0,NaN,tomap,tunic.historicalsociety.entry,NaN,13-22
877,20090312431273200,928,1268292,map_hover,basic,22,NaN,NaN,NaN,NaN,NaN,tomap,tunic.historicalsociety.entry,NaN,13-22
878,20090312431273200,929,1269474,map_click,undefined,22,457.523005,22.141338,443.0,316.0,NaN,tunic.capitol_2,tunic.historicalsociety.entry,NaN,13-22
879,20090312431273200,930,1270708,navigate_click,undefined,22,224.190321,-60.268671,404.0,337.0,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22
880,20090312431273200,931,1272679,checkpoint,basic,22,NaN,NaN,NaN,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,13-22

# Figure out how to process string type columns

In [68]:
sess1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881 entries, 0 to 880
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   session_id      881 non-null    int64
 1   index           881 non-null    int64
 2   elapsed_time    881 non-null    int64
 3   event_name      881 non-null    object
 4   name            881 non-null    object
 5   level           881 non-null    int64
 6   page            0 non-null      float64
 7   room_coor_x     813 non-null    float64
 8   room_coor_y     813 non-null    float64
 9   screen_coor_x   813 non-null    float64
 10  screen_coor_y   813 non-null    float64
 11  hover_duration  65 non-null     float64
 12  text            384 non-null    object
 13  fqid            652 non-null    object
 14  room_fqid       881 non-null    object
 15  text_fqid       384 non-null    object
 16  level_group     881 non-null    object
dtypes: float64(6), int64(4), object(7)
memory usage: 123.9+ KB